/*-----------MASTER PLAN--ABOUT-----------*/
.master-plan--about .legend {
    max-width: 480px; }

.master-plan--about .main-plan__sidebar .sidebar__section .h4 {
    padding-bottom: 20px; }

.master-plan--about .main-plan__sidebar .sidebar__section h5 {
    text-transform: uppercase; }

.master-plan--about .main-plan__sidebar .sidebar__section__txt {
    font-size: 18px;
    color: #dcff8c;
    cursor: default; }
.master-plan--about .main-plan__sidebar .sidebar__section__txt:not(:last-of-type) {
    padding-bottom: 40px; }
.master-plan--about .main-plan__sidebar .sidebar__section__txt:hover {
    color: #fff; }
.master-plan--about .info-block__txt p:first-of-type {
    margin-top: 15px; }

.master-plan--about .house-marker {
    display: none; }

@media screen and (max-width: 1024px) {
    .master-plan--about .main-plan__sidebar {
        padding-top: 10px;
        padding-bottom: 30px; }
    .master-plan--about .main-plan__sidebar .sidebar__section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
    .master-plan--about .main-plan__sidebar .sidebar__section .h4 {
        max-width: none;
        width: 100%; }
    .master-plan--about .main-plan__sidebar .sidebar__section__txt:not(:last-of-type) {
        padding-bottom: 0; } }

@media screen and (max-width: 736px) {
    .master-plan--about .main-plan__sidebar .sidebar__section {
        display: block; }
    .master-plan--about .main-plan__sidebar .sidebar__section__txt:not(:last-of-type) {
        padding-bottom: 40px; } }

/*--------END MASTER PLAN--ABOUT-----------*/