/*--------PLAN FILTER---------*/
.plan-filter-page {
    padding-top: 30px;
    position: relative;
    overflow: hidden; }
.plan-filter-page .bee {
    left: 90px;
    top: 1150px; }
.plan-filter-page .carrot {
    top: 720px;
    right: 23%; }
.plan-filter-page .bird {
    right: 120px;
    top: 930px; }
.plan-filter-page .trees {
    left: 150px;
    bottom: 200px; }
.plan-filter-page h1 {
    text-align: center;
    padding-bottom: 10px; }
.plan-filter-page h5 {
    color: #595959;
    text-align: center; }
.plan-filter-page .big-figure {
    top: 60%;
    right: 0;
    margin-right: -250px; }
.plan-filter-page .filter-over {
    padding-top: 60px;
    padding-bottom: 90px; }
.plan-filter-page .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.plan-filter-page .filter__params {
    width: 220px; }
.plan-filter-page .filter__results-over {
    padding-right: 300px; }
.plan-filter-page .filter__results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 910px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
.plan-filter-page .filter__results .item {
    position: relative;
    width: 50%;
    margin-bottom: 50px; }
.plan-filter-page .filter__results .item:nth-child(2n+1) {
    padding-right: 25px; }
.plan-filter-page .filter__results .item:nth-child(2n+1) .hover-block {
    margin-left: -12px; }
.plan-filter-page .filter__results .item:nth-child(2n+2) {
    padding-left: 25px; }
.plan-filter-page .filter__results .item:nth-child(2n+2) .hover-block {
    margin-left: 12px; }
.plan-filter-page .filter__results .item:nth-child(2n+2) .item__desc {
    left: 100%; }
.plan-filter-page .filter__results .item .price {
    color: #f38b00; }
.plan-filter-page .filter__results .item:hover .hover-block {
    opacity: 1; }
.plan-filter-page .filter__results .item:hover .item__desc {
    display: block; }
.plan-filter-page .filter__results .item__img {
    position: relative;
    height: 425px;
    background: #f7f7f7 no-repeat center;
    background-size: contain; }
.plan-filter-page .filter__results .hover-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 290px;
    height: 290px;
    background-color: rgba(0, 172, 200, 0.8);
    border-radius: 50%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.plan-filter-page .filter__results .hover-block .h4 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-bottom: 10px; }
.plan-filter-page .filter__results .item__desc {
    position: absolute;
    top: 0;
    left: 200%;
    margin-left: 35px;
    width: 265px;
    background-color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.06);
    padding: 50px 40px 0;
    text-align: center;
    display: none; }
.plan-filter-page .filter__results .item__desc .h4 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 600; }
.plan-filter-page .filter__results .item__desc .plan-type {
    margin-bottom: 40px;
    position: relative; }
.plan-filter-page .filter__results .item__desc .plan-type::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(180deg);
    transform: translate(-50%, -50%) rotateX(180deg);
    width: 142px;
    height: 20px;
    background-image: url(/img/svg-library/separator_hor.svg); }
.plan-filter-page .filter__results .item__desc .value {
    font-weight: 400;
    text-transform: none;
    padding-top: 5px; }
.plan-filter-page sup {
    font-size: 12px; }
.plan-filter-page .show-more {
    width: 100%; }

@media screen and (max-width: 1500px) {
    .plan-filter-page .bee, .plan-filter-page .bird {
        display: none; }
    .plan-filter-page .filter-over {
        max-width: 1200px;
        margin: 0 auto; }
    .plan-filter-page .filter {
        display: block; }
    .plan-filter-page .filter__params {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-bottom: 60px; }
    .plan-filter-page .filter__params .reset-filter.visible-lg {
        padding-top: 0; }
    .plan-filter-page .filter__params .inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .plan-filter-page .filter__params .input-group.house .inputs {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .plan-filter-page .filter__params .input-group.house .inputs li.special {
        width: 100%; }
    .plan-filter-page .filter__params .input-group.house .inputs--special {
        display: block; }
    .plan-filter-page .filter__params .input-group.room .inputs li {
        width: 50%; }
    .plan-filter-page .filter__params .input-group.finish .inputs li {
        width: 100%; } }

@media screen and (max-width: 1280px) {
    .plan-filter-page .filter__results {
        width: 100%; } }

@media screen and (max-width: 1024px) {
    .plan-filter-page .carrot {
        top: 50%;
        right: 0; }
    .plan-filter-page .trees {
        left: 0;
        top: 70%; }
    .plan-filter-page .filter__results-over {
        padding-right: 0; }
    .plan-filter-page .filter-over {
        padding-bottom: 80px; }
    .plan-filter-page .filter__params {
        width: 75%;
        margin: 0 auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 70px; }
    .plan-filter-page .filter__params .inputs {
        display: block; }
    .plan-filter-page .filter__params .input-group.room .inputs li {
        width: auto; }
    .plan-filter-page .reset-filter {
        width: 100%; }
    .plan-filter-page .filter__results {
        width: 100%;
        border-top: 2px solid #e7e7e7;
        padding-bottom: 50px; }
    .plan-filter-page .filter__results .item {
        margin: 0;
        padding-top: 50px;
        padding-bottom: 40px;
        border-bottom: 2px solid #e7e7e7; }
    .plan-filter-page .filter__results .item:nth-child(2n+1) {
        padding-right: 20px; }
    .plan-filter-page .filter__results .item:nth-child(2n+2) {
        padding-left: 20px; }
    .plan-filter-page .filter__results .item__img {
        height: 350px; }
    .plan-filter-page .filter__results .hover-block {
        position: static;
        opacity: 1;
        background-color: transparent;
        -webkit-transform: none;
        transform: none;
        color: #000;
        width: auto;
        height: auto;
        margin-left: 0 !important; }
    .plan-filter-page .filter__results .hover-block .h1, .plan-filter-page .filter__results .hover-block .h4 {
        font-size: 20px;
        text-transform: none;
        display: inline-block;
        width: auto;
        font-weight: 400;
        line-height: 1; }
    .plan-filter-page .filter__results .hover-block .h1 {
        padding-left: 5px; }
    .plan-filter-page .filter__results .item__desc {
        position: static;
        display: block;
        box-shadow: none;
        padding-top: 40px;
        margin: 0 auto;
        background-color: transparent; }
    .plan-filter-page .filter__results .item__desc .plan-type {
        margin-bottom: 0;
        padding-bottom: 20px; }
    .plan-filter-page .filter__results .item__desc .h4 {
        display: none; }
    .plan-filter-page .filter__results .item__desc .h4::after {
        display: none; }
    .plan-filter-page .filter__results .item__desc .plan-type {
        display: block; } }

@media screen and (max-width: 736px) {
    .plan-filter-page .pattern {
        display: none; }
    .plan-filter-page .big-figure {
        display: none; }
    .plan-filter-page .filter__params {
        width: 84%; }
    .plan-filter-page .filter__params .inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .plan-filter-page .filter__params .input-group {
        width: 100%; }
    .plan-filter-page .filter__params .input-group.house .inputs {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .plan-filter-page .filter__params .input-group.house .inputs li.special {
        width: 100%; }
    .plan-filter-page .filter__params .input-group.house .inputs--special {
        display: block; }
    .plan-filter-page .filter__params .input-group.room .inputs li {
        width: 30%; }
    .plan-filter-page .filter__params .input-group.finish .inputs li {
        width: 50%; }
    .plan-filter-page .filter__results .item {
        width: 100%;
        padding: 50px 8% 40px !important; }
    .plan-filter-page .filter__results .item__desc {
        width: auto; } }

/*----END PLAN FILTER---------*/